body
{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;


}
.container{
    background-color: aliceblue;
    height: 650px;
    width: 500px;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(121, 119, 119);
    box-sizing: border-box;
}
.brand-logo{ 
    background: url(images/imag1.jpg);
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 90%;
    


}
.brand-title{
    color: rgb(11, 166,243);

}
.inputs{
    text-align: left;
}
label,input,button{
    display: block;
    width: 100%;
    border: none;

}
label{
    color: rgb(11, 166,243);
    margin-bottom:10px;
}
input{
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(143,141,141);
}
button{
    background-color: rgb(11, 166,243);
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(143,141,141);
}